/* Start Roots */
:root {
    --main-color: #10cab7;
}
/* End Roots */
/* Start Global Rules */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header  */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
}
.header .links .icon span {
    background-color: #24484f;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links:hover ul {
    display: block;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    z-index: 1;
    min-width: 200px;
    background-color: #f6f6f6;
    display: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links ul::after {
    content: '';
    position: absolute;
    top: -20px;
    right: 5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* End Header  */
/* Start Landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.intro-text h1 {
    margin: 0%;
    color: var(--main-color);
    font-weight: bold;
    font-size: 55px;
}
.intro-text p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 100%;
    width: 400px;
}
/* End Landing */
/* Start Features */
.features {
    padding: 60px 0px;
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
}
.features .feat {
    text-align: center;
    padding: 20px;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    font-size: 25px;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.6;
    color: #333;
    font-size: 16px;
}
/* End Features */
